@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oxygen&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

/* -----------------------
   LAYOUT 
-------------------------*/

/* Main container */
#main {
    padding: 0;
}

/* Split container. Applied to left/right */
.split {
    /* width: 50%; */
    /* height: 600px; */
    overflow-x: hidden;
    position: fixed;
    z-index: 1;
}

/* Styles specific to left side */
.left {
    left: 0;
    width: 40%;
}

/* Styles specific to right side */
.right {
    border-left: 3px solid #000;
    height: 600px;
    right: 0;
    width: 60%;
}      
  
/* Can be used for centering content in either the left or right column */
.centered {
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Title style (TO DO, WEATHER, etc.) */
h1.title {
    font-size: 45px;
    text-align: center;
    text-transform: uppercase;
}

h2.small-title {
    font-size: 25px;
    margin: 20px 0 0 0;
    text-align: center;
    text-transform: uppercase;
}

.data-container {
    /* height: 400px; */
    height: 170px;
}

.data-box {
    float: left;
    height: 100%;
    margin-bottom: 20px;
    margin-left: 10px;
    padding: 10px;
    /* border: 3px solid #000;
    border-radius: 5px; */
}

.data-box .label {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

/* -----------------------
   TO DO LIST 
-------------------------*/
#todo ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#todo ul li {
    border-left: 10px solid #000;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    text-transform: uppercase;
}

#todo-form input[type="submit"] {
    font-size: 25px;
    padding: 10px;
}

#todo-form input[type="text"] {
    font-size: 25px;
    padding: 10px;
}

/* -----------------------
   CALENDAR
-------------------------*/
#calendar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#calendar ul li {
    border-left: 10px solid #000;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    text-transform: uppercase;
}

/* -----------------------
   WEATHER 
-------------------------*/
h1.temp {
    font-size: 55px;
    margin-bottom: 0;
    text-align: center;
}

#weather .current {
    width: 25%;
}

#weather .temp {
    margin: 0;
}

#weather .condition {
    font-size: 25px;
    text-align: center;    
}

#weather .forecast {
    border-left: 2px solid #000;
    width: 57%;
}

#weather .forecast .dow {
    font-weight: bold;
    text-transform: uppercase;
}

#weather .forecast .day1 {
    float: left;
    padding: 9px;
}

#weather .forecast .day2,
#weather .forecast .day3,
#weather .forecast .day4,
#weather .forecast .day5 {    
    border-left: 1px solid #000;
    float: left;
    padding: 9px;
}

#weather .forecast .high {
    display: block;
}

#weather .forecast .high,
#weather .forecast .low {
    font-size: 25px;
    margin: 2px;
}

/* -----------------------
   FEATURED ENTITY 
-------------------------*/
#featured_entity .title {
    font-size: 35px;
    margin: 15px;
    text-align: center;
    text-transform: uppercase;
}

#featured_entity .state {
    font-size: 30px;
    text-align: center;    
}

/* -----------------------
   ENTITIES 
-------------------------*/

#entity_states .title {
    font-size: 35px;
    margin-bottom: 0;
}

#entity_states .state {
    font-size: 30px;
    text-align: center;    
}

#entity_states table.entities {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: left;
    width: 90%;
}

#entity_states table.entities td {
    border: 1px solid;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

#entity_states table.entities td img {
    vertical-align: middle;
}

#entity_states table.entities td.state {
    text-transform: uppercase;
}

#entity_states table.entities th {
    background-color: #CCC;
    border: 1px solid;
    padding: 5px;
    text-align: center;
}

/* -----------------------
   CAMERA 
-------------------------*/
#camera img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 350px;
}