<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="{{ static_url('img/favicon.png') }}">
        <link rel="stylesheet" type="text/css" href="{{ static_url('css/style.css') }}" media="screen" />
    </head>
    <body>
        <div id="main">
            {% if left_panel %}
            <div class="{% if left_panel and right_panel %}split left{% end %}">
                {% if display["show_todo"] %}
                <div id="todo">
                    <h1 class="title">TO DO</h1>
                    {% if not todo_list %}
                        <p style="text-align: center; text-transform: uppercase;">Nothing to do</p>
                    {% else %}
                        <ul>
                            {% for todo in todo_list %}
                                <li>{{ todo[1] }}</li>
                            {% end %}
                        </ul>
                    {% end %}
                </div>
                {% end %}
                <div id="calendar">
                    {% if display["show_today_events"] %}
                        <h1 class="title">TODAY</h1>
                        {% if not today_events %}
                            <p style="text-align: center; text-transform: uppercase;">No events</p>
                        {% else %}
                            <ul>
                            {% for event in today_events %}
                                {% if 'message' in event %}
                                <p style="text-align: center; text-transform: uppercase;">Error retrieving events</p>
                                {% else %}
                                    <li>{{ event["summary"] }}</li>
                                {% end %}
                            {% end %}
                            </ul>   
                        {% end %}
                    {% end %}
                    {% if display["show_tomorrow_events"] %}
                        <h1 class="title">TOMORROW</h1>
                        {% if not tomorrow_events %}
                            <p style="text-align: center; text-transform: uppercase;">No events</p>
                        {% else %}
                            <ul>
                            {% for event in tomorrow_events %}
                                {% if 'message' in event %}
                                <p style="text-align: center; text-transform: uppercase;">Error retrieving events</p>
                                {% else %}
                                    <li>{{ event["summary"] }}</li>
                                {% end %}
                            {% end %}
                            </ul>   
                        {% end %}
                    {% end %}
                </div>
            </div>
            {% end %}
            {% if right_panel %}
            <div class="{% if left_panel and right_panel %}split right{% end %}">
                {% if display["show_weather"] %}
                <div id="weather" class="data-container">
                    <div class="data-box current">
                        <h2 class="label">Current</h2>
                        <h1 class="temp">{{ weather_cur_temp }}</h1>
                        <div class="condition"><img src="{{ static_url(weather_cur_icon) }}" width="75px"/></div>                        
                    </div>
                    <div class="data-box forecast">
                        <h2 class="label">5 Day</h2>
                        {% for i, day in enumerate(five_day) %}
                        <div class="day day{{ i + 1 }}">
                            <span class="dow">{{ day["dow"] }}</span>
                            <span class="high">{{ day["high"] }}</span>
                            <span class="low">{{ day["low"] }}</span>
                        </div>
                        {% end %}                       
                    </div>
                </div>
                {% end %}
                {% if display["show_featured_entity"] %}
                <div id="featured_entity">
                    <h1 class="title" style="line-height: 35px;"><img src="{{ static_url('img/icons/' + featured_entity['icon'] + '.png') }}" width="35px" style="vertical-align: bottom;" /> {{ featured_entity["name"] }}</h1>
                    <div class="state">{{ featured_entity["property"] }}</div>
                </div>
                {% end %}
                {% if display["show_entity_table"] %}
                <div id="entity_states">
                    <table class="entities" cellspacing="0">
                        <tr>
                            <th></th>
                            <th>ENTITY</th>
                            <th>STATE</th>
                        </tr>
                        {% for entity in entities %}
                        <tr>
                            <td><img src="{{ static_url('img/icons/' + entity['icon'] + '.png') }}" width="20px" /></td>
                            <td>{{ escape(entity["name"]) }}</td>
                            <td class="state">{{ escape(entity["property"]) }}</td>
                        </tr>
                        {% end %}
                    </table>                    
                </div>       
                {% end %}                        
            </div>
            {% end %}
        </div>
    </body>
</html>
